:root {
  --red: #f05454;
  --green: #a8dda8;
  --black: #1c2b2d;
  --gray: #373a40;
  --secondary-black: #555555;
  --dark-gray: #686d76;
  --blue: #0f4c75;
  --light-blue: #8bcdcd;
  --yellow: #ffe05d;
}
